[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7.7"
pylint = ">=2.3.1"

[packages]
colorama = ">=0.4.1"
guessit = ">=3.0.3"
imdbpy = ">=6.6"
musicbrainzngs = ">=0.6"
tvdb-api = ">=2.0"

[requires]
python_version = "3.6"
